/* 

1. Generic Styling 
1.1 Loading Gif
2. Navigation Bar
3. Home Page Generals
3.1 Hero Text
3.2 Buttons
3.3 Socials list
4. Game Generals
5. Choose Topic
6. Display Question
6.1 Timer Styling 
7. Splash Screen (Game Over/Round Complete)
8. How to play page
9. About Page
*/

/* Import google gont */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap");

/* 1. Generic Styling */

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.list-style-remove {
  list-style: none;
}

.list-style-remove li {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.complete-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 1.1 Loading Gif */
.loading {
  height: 100vh;
}

.loading-img {
  height: 60px;
  width: 60px;
}

/* 2. Nar-Bar */

.nav-bar {
  position: fixed;
  top: 0;
  height: 7vh;
  background-color: #F9C80E;
  z-index: 2;
}

.menu-col {
  height: 7vh;
}

.menu-button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.audio-icon {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 1%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.contain-menu {
  position: fixed;
  top: 7vh;
  height: 93vh;
  background-color: #F9C80E;
  width: 100%;
  color: #000;
}

.menu-list li {
  padding: 10px;
}


.menu-button,
.go-home, 
.play-game,
.learn-more,
.how-to,
.end-game,
.start-again {
    cursor: pointer;
}



/* 3. Home Page Generals */

.page-body {
  margin-top: 7vh;
  z-index: 1;
}

/* 3.1 Hero Text */

.hero-heading {
  line-height: 0;
  padding: 10px;
  font-size: 28px;
  color: black;
}

.hero-film-logo {
  font-size: 80px;
  padding: 10px;
  color: #e63946;
}

.hero-text-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-text-upper {
  color: #000;
}

.hero-text-lower {
  line-height: 0;
  font-size: 60px;
  letter-spacing: 2px;
}

/* 3.2 Butotns */

.play-now-btn {
  background-color: #e63946;
  color: #f1efed;
  width: 150px;
  height: 50px;
  padding: 5px;
}

.how-to-btn {
  background-color: #054a91;
  color: #f1efed;
  width: 150px;
  padding: 5px;
  height: 50px;
}

/* 3.3 Socials List */

.socials-row {
  margin-top: 40px;
}

.socials-row h6 {
  margin: 0;
}
.socials-list {
  margin: 0 !important;
}

.socials-list li {
  display: inline-block;
  font-size: 24px;
}

/* 4. Game Generals */

.game-container {
  margin-top: 7vh;
}

/* 5. Choose Topic */

.choose-topic-btn {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #e63946;
  border: none;
}

.round-number-text {
  font-size: 40px;
}
.choose-topic-text {
  color: #e63946;
  font-size: 16px;
}

/* 6. Display Question */

.question-number-title {
  font-size: 18px;
}

.display-title {
  color: black;
  font-size: 20px;
}

.skip-question-btn {
  height: 40px;
  width: 300px;
  background-color: #212429;
  color: white;
}

.contain-game-headings {
  position: relative;
}

.question-number-container {
  position: absolute;
  top: 0;
  left: 35px;
}

.display-lives {
  position: absolute;
  top: 0;
  right: 20px;
}

.lives-icon {
  color: #e63946;
}

#input-answer {
  outline: none;
  height: 50px;
  width: 280px;
  line-height: 50px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #212429;
}

/* 6.1 Timer Styling */

.display-timer {
  color: grey;
  opacity: 0.7;
  font-size: 35px;
}

/* 7. Splash Screen */

.splashscreen {
  height: 93vh;
  position: relative;
}

.style-face {
  font-size: 100px;
  color: yellow;
  margin-top: -120px;
}

.message-to-player {
  color: #212429;
  margin-top: 0px;
}

.message-icon-style {
  padding-top: 300px;
  font-size: 25px !important;
}

.message-icon-style-2 {
  font-size: 25px;
  color: red;
  padding-left: 5px;
}

/* 8. How to play page */

.theme-example-list {
    list-style: none;
}


.theme-example-list li{
    display: inline-block;
}

.number-box {
    height: 30px;
    width: 30px;
    color: white;
    background-color: #e63946;
    border-radius: 3px;
    display: inline-block;
}


.number-box-2 {
    height: 30px;
    width: 30px;
    color: white;
    background-color: #054a91;
    border-radius: 3px;
    display: inline-block;
}


.contain-theme {
    position: relative;
    height: 50px;
    width: 80px;
    background-color: #054a91;  
    border-radius: 3px;
    color: white;
}


.title-example-container {
    height: 200px;
    width: 240px;
    background-color: #e63946;
    border-radius: 3px;
    color: white;
    font-size: 24px;
    position: relative;
}

.type-answer-2 {
   margin: 0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: 180px;
    height: 30px;
    background-color: #F9C80E;
    border-radius: 3px;
    font-size: 12px;
}

.exmaple-title-text {
    margin-top: -20px;
}

.features-heading {
  color: #212429;
}

.contain-feature {
  position: relative;
  height: 80px;
}

.contain-feature-icon {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  background-color: #e63946;
  color: whitesmoke;
}
.contain-feature-icon-2 {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  background-color: #054a91;
  color: whitesmoke;
}

.feature-icon {
  font-size: 30px;
}

/* 9. About Page */ 

.contain-infotext {
  height: 100px;
  width: 180px;
  background-color: #e63946;
  color: white;
  border-radius: 3px;
  margin: 5px;
  position: absolute;
  top: 7px;
  right: 2%;
  font-size: 10px;
  padding: 5px;
}
.about-title {
    color: #e63946;
}

.about-title-2 {
    color: #054a91;
}

.info-list-style {
  position: absolute;
  top: 10px;
}

.info-list-style li {
  color: #054a91;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}


.email-icon {
    font-size: 30px;
    padding: 5px;
    color: #e63946;
}

.email-heading {
    font-size: 12px;
}

.send-email-btn {
    height: 40px;
    background-color:#e63946;
    width: 100px;
    border: none;
    border-radius: 3px;
    margin: 10px;
    color: white;
}







/* media queries */

@media (min-width: 576px) {
  .contain-menu {
    width: 20vw;
  }

.loaded-container {
    max-width: 600px;
    margin-top: 100px;
}

}
