/* 

1. Generic Styling 
1.1 Loading Gif
2. Navigation Bar
3. Home Page Generals
3.1 Hero Text
3.2 Buttons
3.3 Socials list
4. Game Generals
5. Choose Topic
6. Display Question
6.1 Timer Styling 
7. Splash Screen (Game Over/Round Complete)

*/

/* Import google gont */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');



/* 1. Generic Styling */

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.list-style-remove {
    list-style: none;
}

.list-style-remove li {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

body {
background-image: url("../images/bg/pop.png");
background-position: center center;
background-size: cover;
}

.complete-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/* 1.1 Loading Gif */ 

.loading-img {
    height: 60px;
    width: 60px;
}

/* 2. Nar-Bar */

.nav-bar {
    position: fixed;
    top: 0;
    height: 7vh;
    background-color: none;
}

.brand-title {
      color: rgb(0, 0, 0);
      font-size: 18px;
      line-height: 7vh;
      font-weight: 400;
}

.menu-col {
    height: 7vh;
}

.menu-button {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

.logo-icon {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

.contain-menu {
    position: fixed;
    top: 7vh;
    height: 93vh;
    background-color: #F1EFED;
    width: 100%;
    color: #212429;
}

.menu-list li {
    padding: 10px;
}


/* 3. Home Page Generals */ 

.page-body {
    margin-top: 7vh;
}

/* 3.1 Hero Text */ 

.hero-heading {
    line-height: 0;
    padding: 10px;
}

.hero-film-logo {
    font-size: 80px;
    padding: 10px;
}

.hero-text-container {
    margin-top: 50px;
    margin-bottom: 50px;
}


.hero-text-lower {
   line-height: 0; 
   font-size:60px;
   letter-spacing: 2px;
}

/* 3.2 Butotns */


.play-now-btn {
    background-color: #e63946;
    color: #F1EFED;
    width: 150px;
    height: 50px;
    padding: 5px;
    
}

.how-to-btn {
     background-color: #e63946;
    color: #F1EFED;
    width: 150px;
    padding: 5px;
        height: 50px;
}    


/* 3.3 Socials List */


.socials-row {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

}

.socials-row h6 {
    margin: 0;
}
.socials-list {
    margin: 0 !important;
}

.socials-list li{
    display: inline-block;
    font-size: 24px;
}




/* 4. Game Generals */ 

.game-container {
    margin-top: 7vh;
}


/* 5. Choose Topic */

.choose-topic-btn {
    height: 50px;
    width: 200px;
    color: white;
    background-color: #e63946;
    border: none;

}

.round-number-text {
    font-size: 40px;
}
.choose-topic-text {
    color: #e63946;
    font-size: 16px;
}

/* 6. Display Question */ 

.display-question {
    height: 93vh;
}

.question-number-title {
    font-size: 18px;

}

.display-title {
    color: black;
    font-size: 20px;
}

.skip-question-btn {
    height: 40px;
    width: 300px;
    background-color: #212429;
    color: white;
}

.contain-game-headings {
    position: relative;
}


.question-number-container {
    position: absolute;
    top: 0;
    left: 35px;
}

.display-lives {
     position: absolute;
    top: 0;
    right: 20px;
}

.lives-icon {
    color: #e63946;
}

#input-answer {
    outline: none;
    height: 50px;
    width: 280px;
    line-height: 50px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #212429;
    padding: none !important;
}


/* 6.1 Timer Styling */ 

.display-timer {
    color: grey;
    opacity: 0.7;
    font-size: 35px;
}

/* 7. Splash Screen */

.splashscreen {
    height: 93vh;
    position: relative;
}

.style-face {
    font-size: 100px;
    color: yellow;
    margin-top: -120px;
}

.message-to-player {
    color: #212429;
    margin-top: 0px;
}